#game h1, p{
  text-align: center;
}
.person{
  display: inline;
  text-align: center;
  position: relative;
  color: rgba(255, 255, 255, 1.0);
  font-size: 1.2em;
}
.row{
  padding-bottom: 30px;
}
.overlay{
  width: 180px;
  height: 180px;
  padding:10px;
}
.correct{
  background-color: #333333;
  opacity: 0.7;
  z-index: 9999;
  position: absolute;
  width: 180px;
  height: 180px;
  color: rgba(255, 255, 255, 1.0);
  padding:10px;
}
.incorrect{
  background-color: #ff0015;
  opacity: 0.7;
  z-index: 9999;
  position: absolute;
  width: 180px;
  height: 180px;
  padding:10px;
}
