.buttons{
  display: inline-block;
  position: relative;
  margin:auto;
}
.person{
  display: inline;
  text-align: center;
  position: relative;
  color: rgba(255, 255, 255, 1.0);
  font-family: "Georgia", serif;
  font-size: 1.2em;
}
.overlay{
  width: 180px;
  height: 240px;
}
.correct{
  background-color: #333333;
  opacity: 0.7;
  z-index: 9999;
  position: absolute;
  width: 180px;
  height: 240px;
  color: rgba(255, 255, 255, 1.0);
}
.incorrect{
  background-color: #ff0015;
  opacity: 0.7;
  z-index: 9999;
  position: absolute;
  width: 180px;
  height: 240px;
}
